<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid container" >
    <a class="navbar-brand" href="/links">Manieri RRHH</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav mx-auto ">
        {{!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/links">Todos los empleados </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/links/add">Agregar empleados</a>
        </li> --}}
         <li class="nav-item">
          <a class="nav-link" href="/signin">Iniciar sesión</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/signup">Registrate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/links/add">Agregar empleado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/links">Lista de empleados</a>
        </li>
      </ul>
    </div>
  </div>
</nav>